USE [master]
GO
/****** Object:  Database [FacturacionDB]    Script Date: 7/1/2017 9:02:16 AM ******/
CREATE DATABASE [FacturacionDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FacturacionDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\FacturacionDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FacturacionDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\FacturacionDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FacturacionDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FacturacionDB]
GO
/****** Object:  Table [dbo].[Regiones]    Script Date: 7/1/2017 9:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Regiones](
	[IdRegion] [int] IDENTITY(1,1) NOT NULL,
	[DescRegion] [varchar](50) NOT NULL,
	[Estado] [char](1) NOT NULL,
 CONSTRAINT [PK_Regiones] PRIMARY KEY CLUSTERED 
(
	[IdRegion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Regiones] ON 

INSERT [dbo].[Regiones] ([IdRegion], [DescRegion], [Estado]) VALUES (1, N'Norte', N'A')
INSERT [dbo].[Regiones] ([IdRegion], [DescRegion], [Estado]) VALUES (2, N'Sur', N'A')
INSERT [dbo].[Regiones] ([IdRegion], [DescRegion], [Estado]) VALUES (3, N'Este', N'A')
SET IDENTITY_INSERT [dbo].[Regiones] OFF
USE [master]
GO
